@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap');

:root {
    --primary-color: #2C3183;
    --secondary-color: #02AD1D;
    --white-color: #ffffff;
    --my-font: 'Mona Sans', sans-serif;
}

* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.primary-color {
    color: var(--primary-color) !important;
}

.secondary-color {
    color: var(--secondary-color) !important;
}

.my-font {
    font-family: var(--my-font) !important;
}

.container {
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
}

header.scroll-on {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 49;
    transition: all ease-in-out 0.5s;
    box-shadow: 0 -2px 20px 5px #3d3d3d21;
    animation: fadeInDown 0.45s ease-in-out;
    margin-top: 0;
}

@keyframes fadeInDown {
    0% {
        top: -30%;
    }

    50% {
        top: -15%;
    }

    100% {
        top: 0;
    }
}


header.scroll-on {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 49;
    transition: all ease-in-out 0.5s;
    box-shadow: 0 -2px 20px 5px #3d3d3d21;
    animation: fadeInDown 0.45s ease-in-out;
}

@keyframes fadeInDown {
    0% {
        top: -30%;
    }

    50% {
        top: -15%;
    }

    100% {
        top: 0;
    }
}

@keyframes fadeInScale {
    from {
        opacity: 0;
        transform: scale(0.9);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.animate-fadeInScale {
    animation: fadeInScale 0.3s ease-out forwards;
}


.fade-panel {
    opacity: 0;
    transform: translateY(10px);
    transition: opacity .5s ease, transform .5s ease;
}

.fade-panel.show {
    opacity: 1;
    transform: translateY(0);
}


@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

.animate-scroll {
    display: flex;
    animation: scroll 25s linear infinite;
    width: calc(200%);
}
