@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap');

:root {
    --primary-color: #2C3183;
    --secondary-color: #02AD1D;
    --white-color: #ffffff;
    --my-font: 'Mona Sans', sans-serif;
}

* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.primary-color {
    color: var(--primary-color) !important;
}

.secondary-color {
    color: var(--secondary-color) !important;
}

.my-font {
    font-family: var(--my-font) !important;
}

.container {
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
}

header.scroll-on {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 49;
    transition: all ease-in-out 0.5s;
    box-shadow: 0 -2px 20px 5px #3d3d3d21;
    animation: fadeInDown 0.45s ease-in-out;
    margin-top: 0;
}

@keyframes fadeInDown {
    0% {
        top: -30%;
    }

    50% {
        top: -15%;
    }

    100% {
        top: 0;
    }
}

.btn1 {
    background: #2A2E99;
    color: #ffffff;
    padding: 10px 24px;
    border-radius: 5px;
    font-size: 16px;
    display: inline-flex;
    align-items: center;
    gap: 12px;
    border: none;
    cursor: pointer;
}

.btn1 .icon {
    background: #ffffff;
    color: #2A2E99;
    width: 26px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 1rem;
    font-weight: 500;
}

.btn1:hover {
    background: #21267A;
}


.banner .slick-prev:before,
.banner .slick-next:before {
    font-size: 24px;

}

.banner .slick-prev {
    left: 0;
    border-radius: 0;
    top: calc(100% - 32px);
    transform: translateY(0);
    background-color: rgb(6, 155, 6);
}

.banner .slick-next {
    right: 0;
    border-radius: 0;
    top: calc(100% - 32px);
    transform: translateY(0);
    background-color: rgb(6, 155, 6);
}

.banner {
    height: calc(100vh - 86px);
}

.hero-img {
    height: calc(100vh - 86px);
}



header.scroll-on {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 49;
    transition: all ease-in-out 0.5s;
    box-shadow: 0 -2px 20px 5px #3d3d3d21;
    animation: fadeInDown 0.45s ease-in-out;
}

@keyframes fadeInDown {
    0% {
        top: -30%;
    }

    50% {
        top: -15%;
    }

    100% {
        top: 0;
    }
}

@keyframes fadeInScale {
    from {
        opacity: 0;
        transform: scale(0.9);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.animate-fadeInScale {
    animation: fadeInScale 0.3s ease-out forwards;
}


.fade-panel {
    opacity: 0;
    transform: translateY(10px);
    transition: opacity .5s ease, transform .5s ease;
}

.fade-panel.show {
    opacity: 1;
    transform: translateY(0);
}


@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

.animate-scroll {
    display: flex;
    animation: scroll 25s linear infinite;
    width: calc(200%);
}

.choices[data-type*=select-one] .choices__inner {
    padding-right: 2.5rem !important;
    min-height: 50px;
    display: flex;
    align-items: center;
    border-radius: 6px;
}

.choices[data-type*=select-one]::after {
    display: none !important;
}

.choices__list--single .choices__item {
    font-size: 1rem;
}

.choices {
    margin-bottom: 0;
}

.slick-dots {
    bottom: -50px;
}

.slick-dots {
    margin-top: 20px;
}

.active-link {
    color: #1d4ed8;
    background-color: #eff6ff;
    border-color: #93c5fd;
    font-weight: 600;
}